html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    font-family: "Lato",Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

#header {
    background-color: #ddd;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

#header a {
    color: #999;
}

#header a:hover {
    text-decoration: underline;
}

h2, h3 {
    padding-left: 20px;
}

h4 {
    border-top: 1px solid #e5e5e5;
}



#main {
    margin: 0 auto;
    padding: 10px 30px 60px 30px;
    line-height: 1;
}

#content {
    padding-bottom: 60px;
}

#article {
    line-height: 1.5;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

#main a:hover {
    color: #999;
    text-decoration: none;
}

#footer {
    border-top: 1px solid #eee;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    clear: both;
    background-color: #e6e6fa;
}

#footer a:hover {
    text-decoration: underline;
}

#footer p {
    padding: 0 10px 0 0;
    line-height: 1.0;
}

#comment {
    border: 1px solid #999;
    padding: 20px;
}


#comments {
    padding-bottom: 60px;
}

#pagination {
    background: #f2f2f2 none repeat scroll 0 0;
    color: #999;
    display: block;
    font-family: "Lato",Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-bottom: 0px;
    padding: 10px 0 10px 0;
    text-shadow: 0 0 1px #fff;
    text-align: center;
}

#pagination a:hover {
    background: #258fb8 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

#article a {
    color: blue;
    text-decoration: none;
}

#article a:hover {
    color: blue;
    text-decoration: underline;
}

pre {
    background: #efefef none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    font-family: Courier,serif;
    line-height: 22px;
    margin: 0 0 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;
    color: #000;
}
